.navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.navbar {
    font-family: Montserrat, sans-serif;
}

.jumbotron {
    font-family: Montserrat, sans-serif;
}
.jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

body {
    font: 400 15px M, sans-serif;
    line-height: 1.8;
    color: #818181;
}
.logo {
    font-size: 200px;
    color: #f4511e;
}

 #map {
        height: 100%;
      }
      
      #locationField, #controls {
        position: relative;
        width: 480px;
      }
      #autocomplete {
        
        top: 0px;
        left: 0px;
        width: 100%;
      }
      .label {
        text-align: right;
        font-weight: bold;
        width: 100px;
        color: #303030;
      }
      #address {
        border: 1px solid #000090;
        background-color: #f4511e;
        width: 480px;
        padding-right: 2px;
      }
      #address td {
        font-size: 11pt;
      }
      .field {
        width: 100%;
      }
      .slimField {
        width: 90px;
      }
      .wideField {
        width: 200px;
      }

      #locationField {
        height: 20px;
        margin-bottom: 2px;
      }